form {
    max-width: 500px;
    margin: 50px auto;
    background-image: url("../../../../Images/logo2-Opacity20.png");
}
label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}
input, select{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover {
    background-color: rgb(61, 201, 66);
}

table {
    border-collapse: collapse;
    width: 100%;
}   
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
th:nth-child(1),td:nth-child(1) {
    width: 10%;
}
th:nth-child(2),td:nth-child(2) {
    width: 45%;
}
th:nth-child(3),td:nth-child(3) {
    width: 45%;
}
.send {
    background-color: rgb(62, 213, 208);
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 150px;
    margin-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cancel {
    background-color: rgb(62, 213, 208);
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.table-container {
    overflow-y: auto; 
    max-height: 200px;
    width: 80%;
    margin-left: 150px;
}