body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    background-color: rgb(62, 213, 208);
}
h1{
    text-align: center;
    font-size: 40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a, .dropdown-btn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropdown-btn {
    background-color: rgb(131, 131, 119);
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: rgb(62, 213, 208);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.active {
    background-color: rgb(61, 201, 66);
}